#cringe{
  font-size: 15px;
  font-family: Calibri;
  color: #FFFFFF;
  text-align: center;
}
#header{
  height: 200px;
  width: 1900px;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ca60XcU/magical-dark-blue-purple-cyan-night-sky-with-twinkling-constellations-galaxies-and-the-moon_4kawe7ej__F0000.png")
}
#puns{
  color: #FFFFFF;
  font-family: Trebuchet MS;
  text-align: center;
  margin-top: -50px;
  font-size: 25px;
}
#title{
  color: #FFFFFF;
  font-family: courier;
  font-size: 75px;
  text-align: center;
}
.pages{
  height: 75px;
  width: 460px;
  background-color: #C7AEE5;
  display: inline-block;
  align-content:center;
  border: 3px solid #DAE5E8;
  text-align: center;
  font-size: 40px;
  font-family: Calibri;
  color: #363170;
  text-decoration: none;
}
.pageText{
  text-decoration: none;
}
body{
  background-color: #1B2642;
  background-image: linear-gradient(#330E60, #0D7DBA);
  background-size: cover;
}
#welcome{
  width: 1500px;
  height: 300px;
  margin-left: 50px;
  margin-right: 250px;
  margin-top: 25px;
  background-color: #84C8E8;
  border-radius: 20px;
  padding: 20px;
  font-size: 30px;
  font-family: Helvetica;
  color: #381435;
  border: 4px solid #DAE5E8;
}
#about{
  width: 255px;
  height: 270px;
  background-color: #FFC9FE;
  border: 3px solid #DAE5E8;
  font-family: courier;
  float: right;
  border-radius: 25px;
  margin-top: 25px;
  padding: 10px;
}
#manu{
  background-image: url(http://www.bloggang.com/data/a/amement/picture/profile.png);
  background-size: cover;
  border: 7px double #DAE5E8;
  padding: 40px;
  height: 1000px;
  width: 1600px;
  margin: auto;
  margin-top: 10px;
}
#food{
  background-color: #C6F3FF;
  border-radius: 100px;
  height: 200px;
  width: 500px;
  margin: auto;
  text-align: center;
}
#otherthing{
  background-color: #B7DEFF;
  border-radius: 50px;
  width: 1100px;
  margin: auto;
}
#thing{
  background-color: #A5CAFF;
  border-radius: 25px;
  width: 1300px;
  margin: auto;
}
#tile{
  padding: 40px;
  font-size: 65px;
  font-family: courier;
}
#drinks{
  background-image: url(https://ak6.picdn.net/shutterstock/videos/9933512/thumb/1.jpg);
  background-size: cover;
  padding: 40px;
  border: 7px double #DAE5E8;
  margin: auto;
  margin-top: 0.8px;
  width: 1600px;
}
#lime{
  font-family: verdana;
  font-size: 40px;
  color: #44173C;
}
#fod{
  font-family: verdana;
  font-size: 40px;
  color: #2F1D54;
}
#hfueo{
  background-color: #F6EFFF;
  width: 1500px;
  margin: auto;
  padding: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 20px;
  border-left-style: ridge;
  border-left-color: #D83674;
  border-left-width: 20px;
}
#non{
  font-family: verdana;
  font-size: 30px;
}
#oui{
  font-family: verdana;
  font-size: 25px;
  float: right;
  margin-top: -550px;
  margin-right: 40px;
}
#order{
  border-radius: 30px;
  padding: 30px;
  background-color: #BEE3F7;
  width: 800px;
  margin: auto;
  margin-top: 20px;
  border-top: 10px ridge #275DB5;
  border-left: 10px ridge #275DB5;
}
.stuff{
  display: none;
}
#button{
  width: 400px;
  margin: auto;
}
#buttonText{
  font-family: courier;
  font-size: 50px;
  text-decoration: none;
}
#explain{
  font-family: verdana;
  font-size: 15px;
  text-align: center;
}
#processed{
  font-size: 75px;
  font-family: courier;
  color: #311066;
  margin-top: 30px;
  margin-left: 500px;
}
#dont{
  margin-left: 500px;
  font-family: verdana;
  font-size: 25px;
  color: #090C47;
}
#turtle{
  background-color: #EEDFFF;
  height: 250px;
  width: 800px;
  margin: auto;
  padding: 30px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 15px ridge #87FEC8;
  margin-top: 30px;
}
#reviewss{
  text-align: center;
  font-size: 50px;
  font-family: helvetica;
}
#liar{
  text-align: center;
  font-family: helvetica;
  font-size: 20px;
}
.nostars{
  font-family: helvetica;
  background-color: white;
  padding: 25px;
  border-bottom-radius: 15px;
  border-top: 10px solid red;
  width: 1300px;
  margin: auto;
  margin-top: 10px;
}
