#cringe{
  font-size: 10px;
  font-family: Calibri;
  color: #FFFFFF;
}
#header{
  height: 200px;
  width: 1900px;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ca60XcU/magical-dark-blue-purple-cyan-night-sky-with-twinkling-constellations-galaxies-and-the-moon_4kawe7ej__F0000.png")
}
#puns{
  color: #FFFFFF;
}
#title{
  color: #FFFFFF;
}
